<h1><%= @property.name %></h1>

<ul>
  <li>rent: <%= @property.rent %></li>
  <li>bedrooms <%= @property.bedrooms %></li>
  <li>bathrooms: <%= @property.bathrooms %></li>
  <li>address: <%= @property.address %></li>

</ul>


<%= link_to 'back', :back %>

